<!DOCTYPE html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<h2>Maximum number of picture 15</h2>
<form class="add-more" action="/" method="get">
    <button class="add-more-btn">
        Add again
    </button>
</form>
</body>