<!DOCTYPE html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <h1>Image cloud clone</h1>
    </header>
    <div id="container" class="container">
        <form class="form-group" action="/" enctype="multipart/form-data" method="post">
            
              <h1 for="image" id="pick-image">Pick image here</h1>
              <input type="file" id="files" name="images" multiple><br><br>
              <input type="submit" id="submit">
        </form>
      
    </div>
    <footer>
        <h1>A product of me</h1>
    </footer>
</body>