
<!-- <img src="..." class="img-fluid" alt="Responsive image"> -->

<!DOCTYPE html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/myScripts.js"></script>
</head>
<body>
    <div class="list-url">
        <ul>
            <% for(var i=0; i<imageUrls.length; i++) { %>
                <li>
                    <div class="return" id="row<%=[i]%>">
                        <input type="text" class="return-url" value="<%= imageUrls[i] %>" id="url<%=i%>">
                        <button onclick="myFunction(this.id)" class="return-btn" id="btn<%=[i]%>">Copy text</button>
                    </div>     
                </li>
            <% } %>
        </ul>
    </div>
   
    <form class="add-more" action="/" method="get">
        <button id="add-more-btn" onclick="location.href = 'localhost:3000'">
            Add more
        </button>
    </form>
    
</body>
