<!-- <img src="..." class="img-fluid" alt="Responsive image"> -->

<!DOCTYPE html>

<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="list-url">
        <ul>
            <% for(var i=0; i<imageUrls.length; i++) { %>
                <li>
                    <div class="return" id="row<%=[i]%>">
                        <input type="text" class="return-url" value="<%= imageUrls[i] %>" id="url<%=i%>" readonly="readonly">
                        <button onclick="myFunction(this.id)" class="return-btn" id="btn<%=[i]%>">Copy text</button>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>

    <form class="add-more" action="/" method="get">
        <button class="add-more-btn">
            Add more
        </button>
    </form>
    <script>
        function myFunction(btnId) {
            /* Get the text field */
            const id = btnId.split('')[3];
            const urlId = 'url' + id;
            var copyText = document.getElementById(urlId);

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");   
            /* Alert the copied text */
            // alert("Copied the text: " + copyText.value);
        }
    </script>


</body>